<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>

    <div class="col-12 row">
        <h1>Welcome to {{title}}!</h1>
        <h4>{{message}}</h4>
        <!-- Aqui é o test component da primeira parte mais básica do curso -->
        <!-- <div class="col-6">        
            <app-test></app-test>
        </div> -->

        <!-- O test-right component mostra alguns exemplos de bindings -->
        <!-- <div class="col-6">
            <app-test-right></app-test-right>
        </div> -->

        <!-- <div class="col-12">
            <app-diretivas-estruturais></app-diretivas-estruturais>
        </div> -->

        <!-- Podemos passar informações de variáveis do component pai para o filho, e vice-versa -->
        <!-- <div class="col-12"> -->
            <!-- Para passar informações para o component filho, usamos o [parentData] na tag de abertura -->
            <!-- Para capturar o evento que vem do component filho, usamos o (childEvent)="nome_da_variável_no_component=$event" na tag de abertura -->
            <!-- <app-component-interaction [parentFirstName]="firstName" 
                                       [parentLastName]="lastName"
                                       (childEvent)="message=$event"></app-component-interaction>
        </div> -->
       

        <!-- Aqui vem o component com exemplos de uso de Pipes -->
        <!-- <div class="col-12">
            <app-component-pipe></app-component-pipe>
        </div> -->

        
        <!-- Usando a Injeção de dependência -->
        <div class="col-6">
            <app-list-employee></app-list-employee>
        </div>


        <div class="col-6">
            <app-detail-employee></app-detail-employee>
        </div>
        
        


    </div>
    



    

<router-outlet></router-outlet>
    
</body>
</html>


